Repository getnacelle/nacelle-js, pull requests merged in 2021-12, with the labels that each got.

#36 docs: add docs on commit squashing; reorganize
  CONTRIBUTING.md
  README.md
  SUGGEST_ENHANCEMENT.md
  packages/shopify-checkout/README.md
  packages/vue/README.md
Labels: shopify-checkout, vue

#38 fix: conform search provider to warp2 schema
  packages/vue/__tests__/unit/searchProvider.spec.js
  packages/vue/src/providers/SearchProvider.js
Labels: vue

#40 chore: adds typecheck for string
  packages/shopify-checkout/src/utils/metafieldsToCustomAttributes.ts
Labels: shopify-checkout
