Repository getnacelle/nacelle-js, pull requests merged in 2022-08, with the labels that each got.

#199 feat: changesets
  .changeset/config.json
  .github/workflows/release.yml
  CONTRIBUTING.md
  package-lock.json
  package.json
  packages/gatsby-source-nacelle/CHANGELOG.md
  packages/sanity-plugin-nacelle-input/CHANGELOG.md
  packages/shopify-checkout/CHANGELOG.md
  packages/vue/CHANGELOG.md
Labels: documentation, enhancement, shopify-checkout, vue, gatsby-source-nacelle, sanity-plugin-nacelle-input

#205 feat: nuxt-3 starter example
  examples/nuxt-3/.env.example
  examples/nuxt-3/.gitignore
  examples/nuxt-3/README.md
  examples/nuxt-3/app.vue
  examples/nuxt-3/components/ProductCard.vue
  examples/nuxt-3/composables/cart/index.ts
  examples/nuxt-3/composables/checkout/index.ts
  examples/nuxt-3/composables/nacelle/index.ts
  examples/nuxt-3/composables/nacelle/useSdk.ts
  examples/nuxt-3/nuxt.config.ts
  examples/nuxt-3/package-lock.json
  examples/nuxt-3/package.json
  examples/nuxt-3/pages/cart.vue
  examples/nuxt-3/pages/collections/[handle].vue
  examples/nuxt-3/pages/index.vue
  examples/nuxt-3/pages/products/[handle].vue
  examples/nuxt-3/public/favicon.ico
  examples/nuxt-3/public/nacelle-logo.svg
  examples/nuxt-3/queries/collection-page-query.js
  examples/nuxt-3/queries/collection-product-fragment.query.js
  examples/nuxt-3/queries/index.js
  examples/nuxt-3/queries/product-page-query.js
  examples/nuxt-3/tsconfig.json
  examples/nuxt-3/utils/buildRoutes.js
  examples/nuxt-3/utils/getSelectedVariant.js
Labels: nuxt-3

#208 feat(ENG-6319): sanity plugin nacelle references
  packages/sanity-plugin-nacelle-input/.eslintrc.js
  packages/sanity-plugin-nacelle-input/README.md
  packages/sanity-plugin-nacelle-input/package-lock.json
  packages/sanity-plugin-nacelle-input/package.json
  packages/sanity-plugin-nacelle-input/sanity.json
  packages/sanity-plugin-nacelle-input/src/components/NacelleData.js
  packages/sanity-plugin-nacelle-input/src/components/NacelleReference.js
  packages/sanity-plugin-nacelle-input/src/components/shared/DataFetcher.js
  packages/sanity-plugin-nacelle-input/src/components/shared/DataSwitch.js
  packages/sanity-plugin-nacelle-input/src/components/shared/Entry.js
  packages/sanity-plugin-nacelle-input/src/components/shared/Gallery.js
  packages/sanity-plugin-nacelle-input/src/components/shared/Interface.js
  packages/sanity-plugin-nacelle-input/src/components/shared/Loading.js
  packages/sanity-plugin-nacelle-input/src/context/index.js
  packages/sanity-plugin-nacelle-input/src/nacelleData.js
  packages/sanity-plugin-nacelle-input/src/nacelleReference.js
  packages/sanity-plugin-nacelle-input/src/queries/index.js
  packages/sanity-plugin-nacelle-input/src/schema.js
Labels: sanity-plugin-nacelle-input

#213 fix: cart create empty params
  .changeset/lucky-monkeys-glow.md
  packages/shopify-cart/README.md
  packages/shopify-cart/src/client/actions/cartCreate.spec.ts
  packages/shopify-cart/src/client/actions/cartCreate.ts
Labels: shopify-cart
