Repository getnacelle/nacelle-js, pull requests merged in 2022-03, with the labels that each got.

#85 refactor: remove locale env from starters
  starters/gatsby/.env.example
  starters/nuxt/.env.example
  starters/nuxt/nuxt.config.js
  starters/nuxt/utils/buildRoutes.js
Labels: nuxt, gatsby

#89 chore: add gitignore
  starters/gatsby/.gitignore
Labels: gatsby

#91 fix(gatsby-source-nacelle): replace field key
  packages/gatsby-source-nacelle/src/type-defs/index.js
  packages/gatsby-source-nacelle/src/utils/replaceKey.js
Labels: gatsby-source-nacelle

#92 add: vue-shopify-account example
  examples/shopify-accounts/.env.example
  examples/shopify-accounts/.gitignore
  examples/shopify-accounts/README.md
  examples/shopify-accounts/api/auth.js
  examples/shopify-accounts/api/countries.js
  examples/shopify-accounts/api/customer-orders.js
  examples/shopify-accounts/api/customer-transaction.js
  examples/shopify-accounts/api/customer-transactions.js
  examples/shopify-accounts/api/package-lock.json
  examples/shopify-accounts/api/package.json
  examples/shopify-accounts/api/provinces.js
  examples/shopify-accounts/index.html
  examples/shopify-accounts/package-lock.json
  examples/shopify-accounts/package.json
  examples/shopify-accounts/src/App.vue
  examples/shopify-accounts/src/components/Account.vue
  examples/shopify-accounts/src/components/AccountProvider.vue
  examples/shopify-accounts/src/components/AddressForm.vue
  examples/shopify-accounts/src/components/AddressItem.vue
  examples/shopify-accounts/src/components/Addresses.vue
  examples/shopify-accounts/src/components/Details.vue
  examples/shopify-accounts/src/components/Home.vue
  examples/shopify-accounts/src/components/Login.vue
  examples/shopify-accounts/src/components/NotFound.vue
  examples/shopify-accounts/src/components/Orders.vue
  examples/shopify-accounts/src/components/Recover.vue
  examples/shopify-accounts/src/components/Register.vue
  examples/shopify-accounts/src/components/Reset.vue
  examples/shopify-accounts/src/gql/index.js
  examples/shopify-accounts/src/main.js
  examples/shopify-accounts/vite.config.js
Labels: vue-shopify-account, shopify-accounts

#102 chore(flash-sale): add codesandbox to readme
  examples/flash-sale/README.md
Labels: flash-sale

#103 fix(shopify-checkout): accept checkout IDs that start with letter
  packages/shopify-checkout/__tests__/mocks/index.ts
  packages/shopify-checkout/src/client/actions/discount.spec.ts
  packages/shopify-checkout/src/client/actions/findCheckout.spec.ts
  packages/shopify-checkout/src/client/actions/putCheckout.spec.ts
  packages/shopify-checkout/src/client/client-dom.spec.ts
  packages/shopify-checkout/src/utils/isVerifiedCheckoutId.spec.ts
  packages/shopify-checkout/src/utils/isVerifiedCheckoutId.ts
Labels: shopify-checkout

#104 feat!: Add Inference to Content Fields
  packages/gatsby-source-nacelle/gatsby-node.js
  packages/gatsby-source-nacelle/src/source-nodes/index.js
  packages/gatsby-source-nacelle/src/type-defs/index.js
  packages/gatsby-source-nacelle/src/utils/capitalize.js
  packages/gatsby-source-nacelle/src/utils/createRemoteImageFileNode.js
  packages/gatsby-source-nacelle/src/utils/findNestedImages.js
  packages/gatsby-source-nacelle/src/utils/index.js
Labels: gatsby-source-nacelle
