Repository getnacelle/nacelle-js, pull requests merged in 2022-02, with the labels that each got.

#69 refactor(starters/next): rename custom app
  starters/next/pages/_app.js
Labels: next

#73 fix(starters/gatsby): remove duplicate layout component
  starters/gatsby/gatsby-browser.js
Labels: gatsby

#72 chore: add gatsby-source-nacelle package
  examples/nuxt-2-composition-api/package-lock.json
  package-lock.json
  packages/gatsby-source-nacelle/.eslintrc.js
  packages/gatsby-source-nacelle/.gitignore
  packages/gatsby-source-nacelle/LICENSE
  packages/gatsby-source-nacelle/README.md
  packages/gatsby-source-nacelle/gatsby-node.js
  packages/gatsby-source-nacelle/package-lock.json
  packages/gatsby-source-nacelle/package.json
  packages/gatsby-source-nacelle/src/source-nodes/index.js
  packages/gatsby-source-nacelle/src/type-defs/index.js
  packages/gatsby-source-nacelle/src/utils/cacheIsInvalid.js
  packages/gatsby-source-nacelle/src/utils/checkIndexTimestamp.js
  packages/gatsby-source-nacelle/src/utils/cmsPreviewEnabled.js
  packages/gatsby-source-nacelle/src/utils/createRemoteImageFileNode.js
  packages/gatsby-source-nacelle/src/utils/index.js
  packages/gatsby-source-nacelle/src/utils/replaceKey.js
  packages/shopify-checkout/package-lock.json
  packages/vue/package-lock.json
  starters/gatsby/package-lock.json
  starters/next/package-lock.json
  starters/nuxt/package-lock.json
Labels: shopify-checkout, vue, nuxt, next, gatsby, nuxt-2-composition-api, gatsby-source-nacelle

#71 feat(shopify-checkout): Apply/Remove discount codes
  packages/shopify-checkout/README.md
  packages/shopify-checkout/__tests__/mocks/index.ts
  packages/shopify-checkout/src/client/actions/applyDiscount.ts
  packages/shopify-checkout/src/client/actions/discount.spec.ts
  packages/shopify-checkout/src/client/actions/index.ts
  packages/shopify-checkout/src/client/actions/removeDiscount.ts
  packages/shopify-checkout/src/client/client-dom.spec.ts
  packages/shopify-checkout/src/client/index.ts
  packages/shopify-checkout/src/graphql/mutations/index.ts
Labels: shopify-checkout

#86 feat(shopify-checkout): checkout line items
  packages/shopify-checkout/README.md
  packages/shopify-checkout/__tests__/mocks/index.ts
  packages/shopify-checkout/package-lock.json
  packages/shopify-checkout/src/checkout-client.types.ts
  packages/shopify-checkout/src/client/actions/findCheckout.spec.ts
  packages/shopify-checkout/src/client/actions/findCheckout.ts
  packages/shopify-checkout/src/client/client-dom.spec.ts
  packages/shopify-checkout/src/client/index.ts
  packages/shopify-checkout/src/graphql/fragments/index.ts
  packages/shopify-checkout/src/graphql/mutations/index.ts
  packages/shopify-checkout/src/graphql/queries/index.ts
  packages/shopify-checkout/src/utils/buildCheckout.spec.ts
  packages/shopify-checkout/src/utils/buildCheckout.ts
  packages/shopify-checkout/src/utils/createGqlClient.ts
Labels: shopify-checkout
