Repository getnacelle/nacelle-js, pull requests merged in 2022-10, with the labels that each got.

#260 chore: configure @nacelle/sanity-plugin-nacelle-input for publishing
  .changeset/lazy-yaks-sin.md
  packages/sanity-plugin-nacelle-input/package-lock.json
  packages/sanity-plugin-nacelle-input/package.json
  starters/gatsby/package-lock.json
  starters/next/package-lock.json
Labels: next, gatsby, sanity-plugin-nacelle-input

#263 chore: update lockfiles
  examples/contentful-rich-text/package-lock.json
  examples/flash-sale/package-lock.json
  examples/next-preview/package-lock.json
  examples/nuxt-2-composition-api/package-lock.json
  examples/nuxt-3/package-lock.json
  examples/shopify-accounts/package-lock.json
  package-lock.json
  packages/gatsby-source-nacelle/package-lock.json
  packages/sanity-plugin-nacelle-input/package-lock.json
  packages/shopify-checkout/package-lock.json
  packages/vue/package-lock.json
  reference-stores/next/package-lock.json
  reference-stores/nuxt/package-lock.json
  starters/nuxt/package-lock.json
Labels: shopify-checkout, vue, nuxt, nuxt-2-composition-api, gatsby-source-nacelle, flash-sale, shopify-accounts, contentful-rich-text, sanity-plugin-nacelle-input, next-preview, nuxt-3

#264 chore: update script name to match feature branch
  .github/workflows/release.yml
  examples/nuxt-3/package.json
  packages/sanity-plugin-nacelle-input/README.md
Labels: sanity-plugin-nacelle-input, nuxt-3

#270 chore: move doc for sanity plugin
  .changeset/twenty-ducks-vanish.md
  packages/sanity-plugin-nacelle-input/README.md
Labels: sanity-plugin-nacelle-input
