Repository getnacelle/nacelle-js, pull requests merged in 2022-07, with the labels that each got.

#174 feat: shopify checkout custom query
  packages/shopify-checkout/README.md
  packages/shopify-checkout/__tests__/mocks/index.ts
  packages/shopify-checkout/package-lock.json
  packages/shopify-checkout/src/client/actions/index.ts
  packages/shopify-checkout/src/client/actions/queryCheckout.spec.ts
  packages/shopify-checkout/src/client/actions/queryCheckout.ts
  packages/shopify-checkout/src/client/client-dom.spec.ts
  packages/shopify-checkout/src/client/index.ts
  packages/shopify-checkout/src/utils/createGqlClient.ts
Labels: shopify-checkout

#165 feat: init sanity-plugin-nacelle
  packages/sanity-plugin-nacelle-input/.editorconfig
  packages/sanity-plugin-nacelle-input/.env.example
  packages/sanity-plugin-nacelle-input/.eslintrc.js
  packages/sanity-plugin-nacelle-input/.gitignore
  packages/sanity-plugin-nacelle-input/.prettierignore
  packages/sanity-plugin-nacelle-input/.prettierrc.js
  packages/sanity-plugin-nacelle-input/README.md
  packages/sanity-plugin-nacelle-input/babel.config.js
  packages/sanity-plugin-nacelle-input/config.dist.json
  packages/sanity-plugin-nacelle-input/package-lock.json
  packages/sanity-plugin-nacelle-input/package.json
  packages/sanity-plugin-nacelle-input/sanity.json
  packages/sanity-plugin-nacelle-input/src/components/Entry.js
  packages/sanity-plugin-nacelle-input/src/components/Gallery.js
  packages/sanity-plugin-nacelle-input/src/components/Loading.js
  packages/sanity-plugin-nacelle-input/src/components/NacelleDataFetcher.js
  packages/sanity-plugin-nacelle-input/src/components/NacelleLinker.js
  packages/sanity-plugin-nacelle-input/src/context/index.js
  packages/sanity-plugin-nacelle-input/src/hooks/index.js
  packages/sanity-plugin-nacelle-input/src/hooks/useInterval.js
  packages/sanity-plugin-nacelle-input/src/hooks/useNacelleStorefront.js
  packages/sanity-plugin-nacelle-input/src/queries/index.js
  packages/sanity-plugin-nacelle-input/src/schema.js
Labels: sanity-plugin-nacelle-input

#184 chore: lerna build --no-private
  examples/svelte/package.json
  package.json
Labels: svelte

#120 feat: Algolia example
  examples/with-algolia/README.md
  examples/with-algolia/service/.gitignore
  examples/with-algolia/service/handler.ts
  examples/with-algolia/service/package-lock.json
  examples/with-algolia/service/package.json
  examples/with-algolia/service/serverless.yml
  examples/with-algolia/service/src/algoliaClient.ts
  examples/with-algolia/service/src/graphQLClient.ts
  examples/with-algolia/service/src/graphql/PRODUCTS_QUERY.ts
  examples/with-algolia/service/src/index.ts
  examples/with-algolia/service/tsconfig.json
Labels: with-algolia

#190 feat: example next preview
  examples/next-preview/.editorconfig
  examples/next-preview/.env.example
  examples/next-preview/.eslintrc.json
  examples/next-preview/.gitignore
  examples/next-preview/README.md
  examples/next-preview/jsconfig.json
  examples/next-preview/next.config.js
  examples/next-preview/package-lock.json
  examples/next-preview/package.json
  examples/next-preview/pages/_app.js
  examples/next-preview/pages/api/exit-preview.js
  examples/next-preview/pages/api/preview.js
  examples/next-preview/pages/content/[handle].js
  examples/next-preview/pages/index.js
  examples/next-preview/services/index.js
  examples/next-preview/services/nacelleClient.js
  examples/next-preview/styles/Content.module.css
  examples/next-preview/styles/Home.module.css
  examples/next-preview/styles/globals.css
  examples/nuxt-2-composition-api/package-lock.json
  examples/nuxt-2-composition-api/package.json
  examples/svelte/package-lock.json
Labels: nuxt-2-composition-api, svelte, next-preview
