Repository getnacelle/nacelle-js, pull requests merged in 2022-01, with the labels that each got.

#47 chore: create intake forms for bugs & enhancements
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  BUG_REPORT.md
  CONTRIBUTING.md
  README.md
  SUGGEST_ENHANCEMENT.md
Labels: documentation, chore

#54 feat(shopify-checkout): support non GIDs for variantIds
  packages/shopify-checkout/src/utils/cartItemsToCheckoutItems.ts
  packages/shopify-checkout/src/utils/index.ts
  packages/shopify-checkout/src/utils/transformVariantIdToGid-browser.spec.ts
  packages/shopify-checkout/src/utils/transformVariantIdToGid-node.spec.ts
  packages/shopify-checkout/src/utils/transformVariantIdToGid.ts
Labels: shopify-checkout

#53 feat(starters/next): next.js starter
  package-lock.json
  package.json
  starters/next/.editorconfig
  starters/next/.env.example
  starters/next/.eslintrc.json
  starters/next/.gitignore
  starters/next/README.md
  starters/next/components/Layout.js
  starters/next/components/ProductCard.js
  starters/next/components/ProductCard.module.css
  starters/next/jsconfig.json
  starters/next/next.config.js
  starters/next/package-lock.json
  starters/next/package.json
  starters/next/pages/_app.js
  starters/next/pages/cart.js
  starters/next/pages/collections/[handle].js
  starters/next/pages/index.js
  starters/next/pages/products/[handle].js
  starters/next/public/favicon.ico
  starters/next/public/nacelle-logo.svg
  starters/next/services/index.js
  starters/next/services/nacelleClient.js
  starters/next/styles/Cart.module.css
  starters/next/styles/Collection.module.css
  starters/next/styles/Home.module.css
  starters/next/styles/Product.module.css
  starters/next/styles/globals.css
  starters/next/utils/getCartVariant.js
  starters/next/utils/getSelectedVariant.js
  starters/nuxt-2/package.json
Labels: nuxt-2, next

#61 feat(starters/gatsby): add gatsby starter
  .gitignore
  README.md
  lerna.json
  package-lock.json
  package.json
  packages/shopify-checkout/package-lock.json
  packages/vue/package-lock.json
  starters/gatsby/.env.example
  starters/gatsby/README.md
  starters/gatsby/gatsby-browser.js
  starters/gatsby/gatsby-config.js
  starters/gatsby/gatsby-node.js
  starters/gatsby/gatsby-ssr.js
  starters/gatsby/images/nacelle-logo.svg
  starters/gatsby/package-lock.json
  starters/gatsby/package.json
  starters/gatsby/src/components/Layout/index.js
  starters/gatsby/src/components/PageNavigator/PageNavigator.module.css
  starters/gatsby/src/components/PageNavigator/index.js
  starters/gatsby/src/components/ProductCard/ProductCard.module.css
  starters/gatsby/src/components/ProductCard/index.js
  starters/gatsby/src/pages/cart.js
  starters/gatsby/src/pages/index.js
  starters/gatsby/src/pages/products/{NacelleProduct.content__handle}.js
  starters/gatsby/src/services/index.js
  starters/gatsby/src/services/nacelleClient.js
  starters/gatsby/src/styles/Cart.module.css
  starters/gatsby/src/styles/Collection.module.css
  starters/gatsby/src/styles/Home.module.css
  starters/gatsby/src/styles/Product.module.css
  starters/gatsby/src/styles/globals.css
  starters/gatsby/src/templates/ProductCollection.js
  starters/gatsby/src/utils/getCartVariant.js
  starters/gatsby/src/utils/getSelectedVariant.js
  starters/next/.eslintrc.json
  starters/next/README.md
  starters/next/package-lock.json
  starters/next/package.json
  starters/nuxt-2/.env.example
  starters/nuxt-2/README.md
  starters/nuxt-2/nuxt.config.js
  starters/nuxt-2/package-lock.json
  starters/nuxt-2/package.json
  starters/nuxt/.env.example
  starters/nuxt/README.md
  starters/nuxt/nuxt.config.js
  starters/nuxt/package-lock.json
  starters/nuxt/package.json
Labels: shopify-checkout, vue, nuxt, nuxt-2, next, gatsby

#65 refactor: refactor nuxt starter/examples directories
  examples/nuxt-2-composition-api/.editorconfig
  examples/nuxt-2-composition-api/.env.example
  examples/nuxt-2-composition-api/.eslintrc.js
  examples/nuxt-2-composition-api/.gitignore
  examples/nuxt-2-composition-api/README.md
  examples/nuxt-2-composition-api/components/Collection.vue
  examples/nuxt-2-composition-api/components/Product.vue
  examples/nuxt-2-composition-api/components/Refinement.vue
  examples/nuxt-2-composition-api/components/Search.vue
  examples/nuxt-2-composition-api/layouts/default.vue
  examples/nuxt-2-composition-api/nuxt.config.js
  examples/nuxt-2-composition-api/package-lock.json
  examples/nuxt-2-composition-api/package.json
  examples/nuxt-2-composition-api/pages/404.vue
  examples/nuxt-2-composition-api/pages/cart.vue
  examples/nuxt-2-composition-api/pages/collections/_handle.vue
  examples/nuxt-2-composition-api/pages/index.vue
  examples/nuxt-2-composition-api/pages/products/_handle.vue
  examples/nuxt-2-composition-api/pages/search.vue
  examples/nuxt-2-composition-api/plugins/globalSetup.js
  examples/nuxt-2-composition-api/static/favicon.ico
  examples/nuxt-2-composition-api/static/nacelle-logo.svg
  examples/nuxt-2-composition-api/store/README.md
  starters/nuxt-2/.env.example
  starters/nuxt-2/README.md
  starters/nuxt-2/package-lock.json
  starters/nuxt-2/package.json
  starters/nuxt-2/pages/404.vue
  starters/nuxt-2/pages/cart.vue
  starters/nuxt-2/pages/collections/_handle.vue
  starters/nuxt-2/pages/products/_handle.vue
  starters/nuxt-2/static/favicon.ico
  starters/nuxt/.env.example
  starters/nuxt/.eslintrc.js
  starters/nuxt/README.md
  starters/nuxt/components/ProductCard.vue
  starters/nuxt/jsconfig.json
  starters/nuxt/nuxt.config.js
  starters/nuxt/package-lock.json
  starters/nuxt/package.json
  starters/nuxt/pages/404.vue
  starters/nuxt/pages/cart.vue
  starters/nuxt/pages/collections/_handle.vue
  starters/nuxt/pages/index.vue
  starters/nuxt/pages/products/_handle.vue
  starters/nuxt/plugins/nacelle-sdk.js
  starters/nuxt/plugins/nuxt-client-init.client.js
  starters/nuxt/static/favicon.ico
  starters/nuxt/store/cart.js
  starters/nuxt/store/checkout.js
  starters/nuxt/store/index.js
  starters/nuxt/utils/buildRoutes.js
  starters/nuxt/utils/getCartVariant.js
  starters/nuxt/utils/getSelectedVariant.js
Labels: nuxt, nuxt-2, nuxt-2-composition-api
