Repository getnacelle/nacelle-js, pull requests merged in 2022-05, with the labels that each got.

#134 feat(gatsby-source-nacelle): adds pagination to product collections query
  packages/gatsby-source-nacelle/gatsby-node.js
  packages/gatsby-source-nacelle/src/queries/index.js
  packages/gatsby-source-nacelle/src/queries/product-collections-entries.js
  packages/gatsby-source-nacelle/src/queries/product-collections.js
  packages/gatsby-source-nacelle/src/utils/index.js
  packages/gatsby-source-nacelle/src/utils/paginateEntries.js
  packages/gatsby-source-nacelle/src/utils/paginateQuery.js
Labels: gatsby-source-nacelle

#143 build(deps): manually bump deps
  examples/flash-sale/package-lock.json
  examples/nuxt-2-composition-api/package-lock.json
  examples/shopify-accounts/package-lock.json
  packages/gatsby-source-nacelle/package-lock.json
  packages/shopify-checkout/package-lock.json
  packages/vue/package-lock.json
  reference-stores/nuxt/package-lock.json
  starters/next/package-lock.json
  starters/nuxt/package-lock.json
Labels: shopify-checkout, vue, nuxt, next, nuxt-2-composition-api, gatsby-source-nacelle, flash-sale, shopify-accounts

#144 fix(shopify-checkout): correctly include checkoutUserErrors in error handling on checkoutCreate
  packages/shopify-checkout/src/client/actions/checkoutCreate.ts
  packages/shopify-checkout/src/client/actions/putCheckout.spec.ts
Labels: shopify-checkout
