Repository getnacelle/nacelle-js, pull requests merged in 2022-06, with the labels that each got.

#159 fix: apply/remove discount params
  packages/shopify-checkout/package-lock.json
  packages/shopify-checkout/src/client/actions/applyDiscount.ts
  packages/shopify-checkout/src/client/actions/removeDiscount.ts
  packages/shopify-checkout/src/client/client-dom.spec.ts
Labels: shopify-checkout

#160 feat(examples): contentful rich text rendering
  examples/contentful-rich-text/.editorconfig
  examples/contentful-rich-text/.env.example
  examples/contentful-rich-text/.eslintrc.js
  examples/contentful-rich-text/.gitignore
  examples/contentful-rich-text/README.md
  examples/contentful-rich-text/components/RichText.vue
  examples/contentful-rich-text/jsconfig.json
  examples/contentful-rich-text/nuxt.config.js
  examples/contentful-rich-text/package-lock.json
  examples/contentful-rich-text/package.json
  examples/contentful-rich-text/pages/index.vue
  examples/contentful-rich-text/pages/page.vue
  examples/contentful-rich-text/plugins/nacelle-sdk.js
  examples/contentful-rich-text/static/favicon.ico
  examples/contentful-rich-text/static/nacelle-logo.svg
Labels: contentful-rich-text

#161 feat(examples): svelte
  examples/svelte/.env.example
  examples/svelte/.eslintignore
  examples/svelte/.eslintrc.cjs
  examples/svelte/.gitignore
  examples/svelte/.npmrc
  examples/svelte/.prettierignore
  examples/svelte/.prettierrc
  examples/svelte/README.md
  examples/svelte/package-lock.json
  examples/svelte/package.json
  examples/svelte/src/app.html
  examples/svelte/src/components/ProductCard.svelte
  examples/svelte/src/routes/__error.svelte
  examples/svelte/src/routes/cart.svelte
  examples/svelte/src/routes/collections/[handle].svelte
  examples/svelte/src/routes/index.svelte
  examples/svelte/src/routes/products/[handle].svelte
  examples/svelte/src/services/index.js
  examples/svelte/src/services/nacelleClient.js
  examples/svelte/src/services/shopifyCheckout.js
  examples/svelte/src/stores/cart.js
  examples/svelte/src/stores/checkout.js
  examples/svelte/src/utils/getCartVariant.js
  examples/svelte/src/utils/getSelectedVariant.js
  examples/svelte/static/favicon.png
  examples/svelte/static/nacelle-logo.svg
  examples/svelte/svelte.config.js
Labels: svelte
