Repository getnacelle/nacelle-js, pull requests merged in 2022-11, with the labels that each got.

#287 fix(gatsby): fix breaking changes around CIB
  .changeset/tidy-carrots-train.md
  packages/gatsby-source-nacelle/package-lock.json
  packages/gatsby-source-nacelle/package.json
  packages/gatsby-source-nacelle/src/utils/isUnresolvableNacelleReference.js
  packages/gatsby-source-nacelle/src/utils/linkNestedContentReferences.js
Labels: gatsby-source-nacelle

#290 fix: add missing field to checkout fragment
  .changeset/ten-pears-jam.md
  packages/shopify-checkout/src/graphql/fragments/index.ts
Labels: shopify-checkout

#292 fix: allow plaintext Shopify global IDs
  .changeset/tricky-scissors-flash.md
  packages/shopify-checkout/README.md
  packages/shopify-checkout/__tests__/mocks/index.ts
  packages/shopify-checkout/src/client/actions/applyDiscount.ts
  packages/shopify-checkout/src/client/actions/discount.spec.ts
  packages/shopify-checkout/src/client/actions/findCheckout.spec.ts
  packages/shopify-checkout/src/client/actions/putCheckout.spec.ts
  packages/shopify-checkout/src/client/actions/putCheckout.ts
  packages/shopify-checkout/src/client/actions/removeDiscount.ts
  packages/shopify-checkout/src/client/client-dom.spec.ts
  packages/shopify-checkout/src/utils/isVerifiedCheckoutId.spec.ts
  packages/shopify-checkout/src/utils/isVerifiedCheckoutId.ts
Labels: bug, shopify-checkout
