Repository getnacelle/nacelle-js, pull requests merged in 2023-06, with the labels that each got.

#391 feat: automated changelog sync with docs
  .github/workflows/release.yml
  packages/storefront-sdk/changelogFrontMatter.ts
  packages/storefront-sdk/package-lock.json
  packages/storefront-sdk/package.json
  packages/storefront-sdk/tsconfig.json
Labels: storefront-sdk

#392 fix: externalize deps
  .changeset/mighty-balloons-cry.md
  packages/storefront-sdk/vite.config.ts
Labels: bug, storefront-sdk

#395 fix: add errors to missing env vars
  packages/shopify-cart/src/client/client-dom.spec.ts
  packages/shopify-cart/src/client/index.ts
Labels: shopify-cart
